body{
	background:linear-gradient(rgba(153, 153, 255, 0.65), rgba(255, 92, 51, 0.65)),
	url('Background2.jpg') no-repeat 0 -350px;
	background-size: cover;
  	background-position: center;
  	background-attachment: fixed;
  	font-family: 'Lucida Grande', Tahoma;
  	font-style: italic;
	font-weight:bold; 
	line-height: 1.5;
	padding:0;
	margin:0;
}

.container{
	width: 80%;
	margin:auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

header{
	margin-top: 30px;
	background: transparent;
	color:#fff;
	padding-top: 20px;
	min-height: 60px;	
	
}


header a{
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}

header li{
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}
header #branding{
	float:left;

}

header #branding h1{
	margin:0;

}

header nav{
	float:right;
	margin-top: 10px;
}

header .highlight, header .current a{
	color:#ff8c00;
	font-weight: bold;

}

header a:hover{
	color:#cccccc;
	font-weight: bold;
}

/*showcase*/
#showcase{
	padding-top: 20px;
	margin-top: 70px;
	min-height: 450px;
	display: flex;
	text-align: center;
	color:#ffffff;
}

#showcase h1{
	font-size: 70px;
	margin-bottom: 10px;
	display: block;
}
#showcase p{
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-style: normal;
	font-size: 30px;
	font-weight: ;
}
#showcase h2{
	font-size: 15px;
}
#showcase a{
	color:#ff8c00;
}
/*newsletter */
#newsletter{
	padding: 5px;
	color: #ffffff;
	background: #ff8c00;

}

#newsletter h1{
	float: left;
}

#newsletter form{
	float:right;
	margin-top: 15px;
}

#newsletter input[type="email"]{
	padding:4px;
	height: 25px;
	width: 250px;
}

/*about page */
#main{
margin-top: 100px;
padding-top: 20px;
font-weight: bold;
}

#main p{
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	text-align: center;
}
#main h1{
	padding-top: 60px;
	color:#ff8c00;
}