html, body{
	background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
	url('Background.jpg') no-repeat 0 -350px;
	background-size: cover;
  	background-position: center;
  	background-attachment: fixed;
  	font-family:'Merienda One', Helvetica, sans-serif;
	font-weight:bold;
	font-style: italic; 
	line-height: 1.5;
	padding:0;
	margin:0;
	height: 100%;
	width: 100%

}

.container{
	width: 80%;
	margin:auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

header{
	margin-top: 30px;
	background: transparent;
	color:#fff;
	padding-top: 20px;
	min-height: 60px;	
}


header a{
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}

header li{
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}
header #branding{
	float:left;

}

header #branding h1{
	margin:0;

}

header nav{
	float:right;
	margin-top: 10px;
}

header .highlight, header .current a{
	color:#ff8c00;
	font-weight: bold;

}

header a:hover{
	color:#cccccc;
	font-weight: bold;
}
/*showcase*/
#showcase{
	min-height: 450px;
	display: flex;
	text-align: center;
	color:#ffffff;
	text-shadow: 0px 0px 300px #000;
	margin-bottom: 400px;
}

#showcase h1{
	margin-top: 300px;
	font-size: 70px;
	margin-bottom: 10px;
	display: block;
	
}
#showcase p{
	font-size: 30px;
	font-weight: ;
}
#showcase a{
	color:#ff8c00;
}
.btn{
	border-radius: 9px;
	color: #ff8c00;
	font-size: 135%;
	padding: 10px 20px;
	border: solid #ff8c00 3px;
	text-transform: uppercase;
	text-decoration: none;

}

.btn:hover{
	color: #cccccc;
	border: solid #cccccc 3px;
}
/*newsletter */
#content{
	padding-top: 100px;
	min-height: 400px;
	padding: 5px;
	color: #ffffff;
	background-color: transparent;

}

#content h1{
	text-align: center;

}

#content img{
	border-radius: 9px;
	color:#ff8c00;
	border: solid #ff8c00 3px;
	max-width:50%;
  	max-height:50%;

}
/*about page */
#main{

text-shadow: 0px 0px 300px #000;
margin-top: 100px;
padding-top: 20px;
font-weight: bold;
}

#main p{
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	text-align: center;
}
#main h1{
	padding-top: 60px;
	color:#ff8c00;

}